<script type="text/x-template" id="admin-ride-template">
<div class='row card no-margin-top ride_card' :id="'ride-' + ride.id">
    <%= render partial: 'rides/ride_image_for_card' %>
    <div class='col s12 card-content'>
        <%= render partial: 'rides/ride_card_summary' %>

        <div class='ride_details row valign-wrapper center-align no-margin-bottom'>
            <div class='col s12'>
                <%= render partial: 'rides/max_queue_code_row' %>

                <%= render partial: 'rides/call_queue_row' %>

                <br/>
                <br/>

                <%= render partial: 'rides/reset_max_queue_row' %>

                <%= render partial: 'rides/clear_queue_row' %>

                <br/>
                <br/>

                <%= render partial: 'rides/rider_check_in_row' %>

                <br/>
                <br/>

                <%= render partial: 'rides/edit_ride_form' %>

                <br/>
                <br/>

                <%= render partial: 'rides/delete_ride_row' %>
            </div>
        </div>
    </div>
</div>

</script>

