<script type="text/x-template" id="ride-template">
<div class='row card  no-margin-top ride_card' :id="'ride-' + ride.id">
    <%= render partial: 'rides/ride_image_for_card' %>
    <div class='col s12 card-content'>
        <div class='ride_card_summary'  v-on:click="flip_expand_icon()">
            <%= render partial: 'rides/ride_quick_info' %>

            <%= render partial: 'rides/ride_name_row' %>

            <div class='row no-margin-bottom'>
                <%= render partial: 'rides/ride_details_expander_icons' %>
                <%= render partial: 'rides/ride_expected_wait_time' %>
            </div>
        </div>

        <div class='ride_details row valign-wrapper center-align no-margin-bottom'>
            <div class='col s12'>
                <%= render partial: 'rides/max_queue_code_row' %>

                <%= render partial: 'rides/ride_description_row' %>

                <%= render partial: 'rides/get_in_line_row' %>
            </div>
        </div>
    </div>
</div>
</script>



