<% type ||= 'text' %>
<% label ||= vmodel %>
<% cols ||= 's8' %>
<% offset ||= 's2' %>
<% helper_text ||= '' %>
<% row ||= true %>

<% if row %>
<div class='row'>
<% end %>

    <div class='col <%= cols %> offset-<%= offset %>'>
        <div class="input-field ">
            <textarea id="<%= id %>" class="materialize-textarea" v-model="<%= vmodel %>"></textarea>
            <label for="<%= id %>"><%= label %></label>
            <span class="helper-text" data-error="wrong" data-success="right"><%= helper_text %></span>
        </div>
    </div>


<% if row %>
</div>
<% end %>
